<h1 style="text-indent: -.5em;">“I can't even talk to my customers.”</h1>
<p>You know the feeling. You want to reach out to your customers and it hits you. A tangled mess of segments and lists say "not so fast". <em>Your expensive email marketing tools get in the way.</em></p> 

<p>These are <em>your</em> customers. They're the lifeblood of your business. It should be easy to talk to them.</p>

<p><strong><em>Talk to Your Customers</em> let's you email your customers whenever you want:</strong></p>

<%= render :partial => 'users/form'  %> 


<p><em>Talk to Your Customers</em> is a simple app that let's you talk to your customers any time you want for $29/month. <%= link_to "Here are my favorite ways people are using it.", how_path %>