<h1>How to Talk to Your Customers</h1>

<p>A small publication about specific ways people are talking to customers to help grow their business.</p>

<ul>
	<li><a href="#">"I couldn't find my next client"</a></li>
	<li><a href="#">"I need to find out if customers will pay for this"</a></li>
	<li><a href="#">"I need help editing my book"</a></li>
</ul>